<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>LoopTests</key>
		<dict>
			<key>testFor()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.cycles</key>
				<dict>
					<key>baselineAverage</key>
					<real>27221.721300</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>62927.771100</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.time</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.008300</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.075239</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:22:52 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>7.782400</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
			</dict>
			<key>testForEach()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.cycles</key>
				<dict>
					<key>baselineAverage</key>
					<real>26916.178000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>64603.894700</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.time</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.008458</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.065626</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:22:52 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>2.867200</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
			</dict>
			<key>testForTupleIndex()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.cycles</key>
				<dict>
					<key>baselineAverage</key>
					<real>27299.670800</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>62990.436500</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.time</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.009151</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.071956</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:22:52 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.228800</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
			</dict>
			<key>testForTupleValue()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.cycles</key>
				<dict>
					<key>baselineAverage</key>
					<real>24775.415800</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>63784.983700</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.time</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.007760</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.064397</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:22:52 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>4.096000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
			</dict>
			<key>testIterating()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.cycles</key>
				<dict>
					<key>baselineAverage</key>
					<real>25850.809700</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>62891.983300</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.time</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.007977</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.071474</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:22:52 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
			</dict>
			<key>testLoop()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.cycles</key>
				<dict>
					<key>baselineAverage</key>
					<real>24638.651300</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>82841.109400</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.time</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.007831</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.065528</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:22:52 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.819200</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
			</dict>
			<key>testRecursion()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.cycles</key>
				<dict>
					<key>baselineAverage</key>
					<real>1824.794600</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 9:38:14 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>2388.148600</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 9:38:14 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.time</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000540</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 9:38:14 AM</string>
				</dict>
			</dict>
			<key>testReduce()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.cycles</key>
				<dict>
					<key>baselineAverage</key>
					<real>21397.997900</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>52801.489200</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.time</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.006750</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.065303</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:22:52 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
			</dict>
			<key>testRepeat()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.cycles</key>
				<dict>
					<key>baselineAverage</key>
					<real>27625.361500</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>83714.338000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.time</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.008373</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.072850</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:22:52 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>4.096000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
			</dict>
			<key>testWhile()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.cycles</key>
				<dict>
					<key>baselineAverage</key>
					<real>24206.486100</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>62856.677500</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.time</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.007726</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.065597</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:22:52 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>15 Nov 2022, 10:18:48 AM</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
